.nft_gallery_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  height: 100vh;
  margin-bottom: 6rem;
}

.nft_gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1224px;
  align-items: center;
  padding: 0 1.5rem;
}

.inputs_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-self: center;
  row-gap: 1.5rem;
}

.input_button_container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.fetch_selector_container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #461456;
}

.fetch_selector_container > h2 {

  font-size: 48px;
}

.fetch_selector_container > h2 > span {

  font-size: 65px;
  font-weight: 200;
}

.select_container {
  text-align: center;
  padding: 0.5rem 1rem;
  display: flex;
  border-radius: 3px;
  background-color: #ecf0f9;
  cursor: pointer;
  border-radius: 8px;
}

.select_container select {
  font-size: 18px;
  font-weight: 700;
  background-color: #ecf0f9;
  outline: none;
  border: none;
  color: #0057da;
  cursor: pointer;
}

.input_button_container input {
  padding: 0.6rem 1rem;
  outline: none;
  border: 1px solid #cfd9f0;
  border-radius: 8px;
  width: 528px;
}

.select_container_alt {
  text-align: center;
  padding: 0.6rem 1rem;
  display: flex;
  border-radius: 3px;
  background-color: black;
  cursor: pointer;
  border-radius: 8px;
}

.input_button_container input {
  padding: 0.6rem 1rem;
  outline: none;
  border: 1px solid #cfd9f0;
  border-radius: 8px;
  width: 528px;
}

.buttons_under_input {
  display: flex;
}

.submit_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsla(285, 17%, 54%, 1);
  background: linear-gradient(
    180deg,
    hsla(285, 17%, 54%, 1) 0%,
    hsla(285, 45%, 21%, 1) 100%
  );
  background: -moz-linear-gradient(
    180deg,
    hsla(285, 17%, 54%, 1) 0%,
    hsla(285, 45%, 21%, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    hsla(285, 17%, 54%, 1) 0%,
    hsla(285, 45%, 21%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#93749D", endColorstr="#431E4F", GradientType=1 );
  padding: 0px 14px;
  font-size: 1em;
  border-radius: 12px;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .input_button_container {
    flex-direction: column;
    align-items: center;
    justify-self: center;
  }
  .input_button_container input {
    width: 70%;
  }
}

.select_container_alt {
  text-align: center;
  padding: 0.6rem 1rem;
  margin-right: 1rem;
  display: flex;
  border-radius: 3px;
  background-color: black;
  cursor: pointer;
  border-radius: 8px;
}

.radios_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.radios_container label {
  gap: 0.2rem;
  display: flex;
}

.loading_box {
  width: 100%;
  display: flex;
  justify-content: center;
  grid-column-start: 2;
  grid-column-end: 4;
}

.nft_gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.nfts_display {
  display: grid;
  gap: 0.75rem;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 8px;
  padding-top: 1rem;
  height: fit-content;
}

.header {
  font-size: 1.5rem;
  font-weight: bolder;
}

.header_info {
  color: #4e4e4e;
  font-size: 1em;
  margin-bottom: 1em;
}

.card_container {
  background: hsla(344, 32%, 77%, 1);
  background: radial-gradient(
    circle,
    hsla(344, 32%, 77%, 1) 0%,
    hsla(344, 86%, 35%, 1) 100%
  );
  background: -moz-radial-gradient(
    circle,
    hsla(344, 32%, 77%, 1) 0%,
    hsla(344, 86%, 35%, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    hsla(344, 32%, 77%, 1) 0%,
    hsla(344, 86%, 35%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D8B3BD", endColorstr="#A80D36", GradientType=1 );
  width: 100%;
  max-width: 288px;
  max-height: max-content;
  border-radius: 12px;
  padding: 8px 4px;
  border: 1px solid #cfd9f0;
  height: inherit;
}

.image_container {
  height: 300px;
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.image_container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.info_container {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  height: fit-content;
}

.symbol_contract_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contract_container {
  display: flex;
  column-gap: 0.3rem;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  align-items: center;
}

.title_container {
  display: flex;
  margin: 7px 10px 5px 5px;
  justify-content: space-between;
  align-items: center;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.title_container h3 {
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 25px;
}

.symbol_container {
  display: flex;
  column-gap: 0.3rem;
  font-size: 0.9rem;
  font-weight: 700;
}

.symbol_container p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description_container {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-left: 8px;
  width: 90%;
  font-weight: 400;
  font-size: 14px;
  color: black;
}
.description_container_2 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 30px;
  font-size: 18px;
  color: black;
}
.description_container_2:hover {
  color: dodgerblue;
}

@media screen and (max-width: 560px) {
  .nfts_display {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 561px) and (max-width: 750px) {
  .nfts_display {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 751px) and (max-width: 992px) {
  .nfts_display {
    grid-template-columns: repeat(3, 1fr);
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(26px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
